[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
coverage = "*"
pytest-cov = "*"
pytest-mock = "*"
codecov = "*"
model-mommy = "*"

[packages]
django = "*"
gunicorn = "*"
pytest-django = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
collectfast = "*"
django-debug-toolbar = "*"
sentry-sdk = "*"
django-instagram = "*"
django-ordered-model = "*"

[requires]
python_version = "3.8"
