{% extends 'base/base.html' %}
{% load static %}
{% load instagram_client %}
{% block title %}Psicanalista Marilda Limberger{% endblock title %}
{% block body %}
    <div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Marilda Limberger - Psicanálise On-Line
				</h2>
				<p>
					Psicanálise online e Consulta de Florais de Bach online.
Para marcar uma consulta online escreva um email para mnslimberger@gmail solicite uma tabela com horários disponíveis para o seu atendimento.
Escolha o horário e retorne seu e-mail.
Você receberá um número de conta para depositar o valor da terapia.
Após a confirmação do depósito bancário, seu horário estará assegurado. Psicanalista: Marilda Nunes Limberger
				</p>
			</div>


			<h4 class="mt-4">Apresentacao da Marilda</h4>
			<iframe src="https://player.vimeo.com/video/429714457?title=0&byline=0&portrait=0&badge=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/429714457">Bright Eyes : Mariana Trench</a> from <a href="https://vimeo.com/artcamp">Art Camp</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

			<h4 class="mt-4">Agende sua sessão - Pagamento via Pagseguro</h4>
			<!-- INICIO DO BOTAO PAGSEGURO -->
			<a href="https://pag.ae/7W8ThE_Qr/button" target="_blank" title="Pagar com PagSeguro">
			<img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!" /></a>
			<!-- FIM DO BOTAO PAGSEGURO -->


			<div class="row mt-4">
						{% instagram_user_recent_media marlimberger %}
						{% for media in recent_media|slice:":3" %}
				<div class="col-md-4">
					<div class="card">
						<h5 class="card-header">
							<a href="http://instagram.com/marlimberger">Marlimberger</a>
						</h5>
						<div class="card-body">
							<p class="card-text">
									<div class="django_instagram_media_wall_item">
										<a href="//instagram.com/p/{{ media.shortcode }}" target="_blank">
											<img src="{{ media.thumbnail_src }}" alt="foto do instagram"
												 class="img-thumbnail mb-3" /><br/>
											<span>{{ media.edge_media_to_caption.edges.0.node.text }}</span>
										</a>
									</div>
							</p>
						</div>
					</div>
				</div>
						{% endfor %}
			</div>
		</div>
	</div>
	</div>
{% endblock body %}